header {
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;
  }

 main {
    background-color: aqua;
 }

 aside {
    background-color: bisque;
 }
  
footer {
    background-color: aquamarine;
}