body{
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 80px auto auto 50px;
   grid-template-rows: 80px auto auto 50px;
   grid-template-areas: 
   "header header"
   "main aside"
   "main aside"
   "footer footer";
}


header {
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;
  }

 main {
    background-color: aqua;
 }

 aside {
    background-color: bisque;
 }
  
footer {
    background-color: aquamarine;
}